.preview {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100vw;
  background-color: white;
  color: black;
  display: flex;
  overflow-x: scroll;
  padding: 12px;
}

.imgPreview {
  margin: 12px;
  border: 1px solid black;
}

.object {
  padding: 12px;
  position: fixed;
  left: 0;
  bottom: 150px;
  height: 150px;
  width: 600px;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  align-items: flex-start;
}

.objectItem {
  display: flex;
  width: 100%;
}
